@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=JetBrains+Mono:wght@400;700&family=Montserrat:wght@300;400;600;800&display=swap');

@theme {
  --color-neon-lime: oklch(0.8732 0.1431 94.1);

  --font-brand: 'JetBrains Mono', monospace;
  --font-body: 'Montserrat', sans-serif;
  --font-medieval: 'Grenze Gotisch', monospace;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-body min-h-screen;
    background-image:
      radial-gradient(
        circle at 50% -20%,
        oklch(84.44% 0.19 144.13 / 0.15),
        transparent 50%
      ),
      linear-gradient(to bottom, #000, #18181b);
  }
}

/* Skleněný efekt pro karty */
.glass-card {
  @apply bg-zinc-900/40 backdrop-blur-md border border-white/10 rounded-xl shadow-2xl;
}
